
<div class="card_search_bar" >
    <div class="card_search_bar_content" >
      <h1 class="card_search_bar_title" >Farmacia</h1>
      <span class="card_search_bar_text" > Busca tu medicamento por nombre, ingrediente activo, etc...</span>
      <div class="search_bar" >
        <%= form_tag drugs_path, method: :get, class: "input-group rounded-pill bg-white overflow-hidden py-4 pl-3 mb-6 align-items-center" do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control form-control-sm rounded-pill border-0 mr-1 align-items-center",
            placeholder: "Buscar" %>
          <%= button_tag type: :submit, class: 'btn btn-primary btn-sm font-weight-medium mr-4' do %>
            <%= fa_icon 'search' %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>


  <!-- the list of movies -->


<div class="cards" >
  <% @drugs.each do |drug| %>
<!--   <form action="/drugs/add_to_invoice" method="post"> -->
  <%= form_tag drugs_add_to_invoice_path, method: :post, remote: true do %>
    <div class="card_2" >
            <div class="card_2_content" >
                <div class="card_img" >
                    <%= image_tag drug.image, class: "card-img-top", style: "height: 250px; object-fit: cover;" %>
                </div>
                <div class="card_2_texts"  >
                    <h1 class="card_2_title" ><%= drug.drug_name %></h1>
                    <h4 class="card_2_sub"  ><%= drug.drug_type %></h4>
                </div>
            </div>
            <div class="card_2_line" ></div>
            <div class="card_2_footer" >
            <h2> <%= humanized_money_with_symbol(drug.price) %></h2>
            <!-- <button class="card_2_btn" > Agregar </button> -->
            <!--  f.button :submit, "Agregar", class: "card_2_btn" %> -->
              <input type="submit" value="Agregar" class="card_2_btn" data-confirm="Estas Seguro que quieres agregar a carrito <%= drug.drug_name %>?" >

              <input type="hidden" name="drug_id" value= <%= drug.id %> >
              <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
            </div>
      </div>
  <% end %>
  <!-- </form> -->
  <% end %>
</div>


<div class="mt-3 mb-3 d-flex justify-content-center" >
  <div class="digg_pagination ">
    <%= will_paginate @drugs, :container => false , :previous_label => 'Anterior', :next_label => 'Siguiente' %>
  </div>

</div>




