
<%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>

<div class="form" >
    <div class="form_content" >
        <div class="inputs group_1 display" >
            <div class="progress_bar" >
                <section class="step-indicator">
                    <h5 class="step_title" >Step 1</h5>
                    <div class="step step1 active">
                        <div class="step-icon"><span class="number" >1</span></div>
                    </div>
                    <div class="indicator-line active"></div>
                    <div class="step step2">
                        <div class="step-icon"><span class="number" >2</span></div>
                    </div>
                    <div class="indicator-line"></div>
                    <div class="step step3">
                        <div class="step-icon"><span class="number" >3</span></div>
                    </div>
                </section>
            </div>
            <input class="input" placeholder="Email" >
            <span style="display: block;" class="err_msg" >Error message</span>
            <input class="input" placeholder="Name" >
            <span class="err_msg" >Error message</span>
            <input class="input" placeholder="Adress" >
            <span class="err_msg" >Error message</span>
            <input class="input" placeholder="Phone number" >
            <span class="err_msg" >Error message</span>
            <button id="next_step" class="button button_outline_radius_primary" >Next step</button>
        </div>
        <div class="inputs group_2 hide " >
            <div class="progress_bar" >
                <section class="step-indicator">
                    <h5 class="step_title" >Step 2</h5>
                    <div class="step step1 active">
                        <div class="step-icon"><span class="number" >1</span></div>
                    </div>
                    <div class="indicator-line active"></div>
                    <div class="step step2 active">
                        <div class="step-icon"><span class="number" >2</span></div>
                    </div>
                    <div class="indicator-line active"></div>
                    <div class="step step3">
                        <div class="step-icon"><span class="number" >3</span></div>
                    </div>
                </section>
            </div>
            <input class="input" placeholder="Placeholder here" >
            <span class="err_msg" >Error message</span>
            <input class="input" placeholder="Placeholder here" >
            <span class="err_msg" >Error message</span>
            <input class="input" placeholder="Placeholder here" >
            <span class="err_msg" >Error message</span>

            <div class="checkboxes" >
                <div class="checkbox">
                    <input type="checkbox">
                    <label >check</label>
                </div>
                <div class="checkbox">
                    <input type="checkbox">
                    <label>check</label>
                </div>
                <div class="checkbox">
                    <input type="checkbox">
                    <label>check</label>
                </div>
                <div class="checkbox">
                    <input type="checkbox">
                    <label>check</label>
                </div>
            </div>
            <button class="button button_outline_radius_primary" >Submit</button>
        </div>
    </div>
</div>

<!-- OLD
<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">

    <h2>Log in</h2>

    <%#= simple_form_for(resource, as: resource_name, url: session_path(resource_name), class="form") do |f| %>
      <div class="field">
        <%#= f.label :email %><br />
        <%#= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field">
        <%#= f.label :password %><br />
        <%#= f.password_field :password, autocomplete: "current-password" %>
      </div>

      <%# if devise_mapping.rememberable? %>
        <div class="field">
          <%#= f.check_box :remember_me %>
          <%#= f.label :remember_me %>
        </div>
      <%# end %>


      <div class="actions ">
        <%= f.submit "Iniciar Sesión" , :class => 'button button_fill_primary bigger' %>
      </div>

    <%#= render "devise/shared/links" %>
    </div>
  </div>
</div>


<!-- NEW -->
<div class="login_page" >
<div class="login" >
  <img alt="logo"  class="brand_logo" src="<%= asset_path 'suscrimed-logo-full.png' %>" >
  <div class="title" >Welcome Back !</div>
  <div class="sub_title">Login to your Suscrimed account</div>
  <div class="form">
    <div class="field" >
      <span class="placeholder" >Username <span style="color: red" >*</span></span>
      <input type="text" class="username">
      <span class="error_msg" >Error with username</span>
    </div>
    <div class="field" >
      <span class="placeholder" >Password <span style="color: red" >*</span></span>
      <input type="password" class="password">
      <span class="error_msg" >Error with password</span>
    </div>
    <span class="forgot_password" >Forgot Password ?</span>
    <button class="login_btn" >Sign in</button>
    <span class="sign_up" > Not an user? <span style="text-decoration: underline;" >Sign up</span> </span>
  </div>
</div>
</div>

<div class="login_page" >
<div class="login" >
  <img alt="logo"  class="brand_logo" src="<%= asset_path 'suscrimed-logo-full.png' %>" >
  <div class="title" >Bienvenido !</div>
  <div class="sub_title">Ingresa a tu cuenta Suscrimed</div>
  <div class="form">
    <div class="field" >
      <span class="placeholder" >Username <span style="color: red" >*</span></span>
      <input type="text" class="username">
      <span class="error_msg" >Error with username</span>
    </div>
    <div class="field" >
      <span class="placeholder" >Password <span style="color: red" >*</span></span>
      <input type="password" class="password">
      <span class="error_msg" >Error with password</span>
    </div>
    <span class="forgot_password" >Forgot Password ?</span>
    <button class="login_btn" >Sign in</button>
    <span class="sign_up" > Not an user? <span style="text-decoration: underline;" >Sign up</span> </span>
  </div>
  <%= render "devise/shared/links" %>
</div>
</div>

