<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "https://instagram.fgdl13-1.fna.fbcdn.net/v/t51.2885-19/s320x320/69835259_396622420996217_3079382875674509312_n.jpg?_nc_ht=instagram.fgdl13-1.fna.fbcdn.net&_nc_ohc=YVTivMndZY0AX9XRiao&tp=1&oh=cf15c2004f0555df6932d4b57c47979d&oe=6037A662" %>
    <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item active">
          <%= link_to "Hire a truck", trucks_path, class: "nav-link" %>
        </li>

        <li class="nav-item">
          <%= link_to "List your truck", new_truck_path , class: "nav-link" %>
        </li>

        <li class="nav-item dropdown">
          <%= image_tag "https://kitt.lewagon.com/placeholder/users/dreso2423", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Edit your trucks", my_trucks_path, class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>

        <li class="nav-item">
          <%= link_to "Hire a truck", new_user_session_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "List your truck", new_user_session_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Sign up", new_user_session_path, class: "nav-link" %>
        </li>

        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
