<div  onclick="toggleSideBar()" id="overlay" class=""></div>
   <div class="navbar" >
       <div class="logo" >
           <a href=" <%= root_path %> "> <%= image_tag "nav-logo.png", width: 50 %> </a>
       </div>
       <ul class="nav_links_left ">
           <h3 onclick="toggleSideBar()" class="sidebar_close_button" >Close</h3>
       <div class="nav_links" >
           <li class="nav_link_el" >
              <a class="nav_id"  href="#"> Suscripcion</a>
           </li>
           <li class="nav_link_el" >
               <a class="nav_id" href="/drugs"> Farmacia</a>
           </li>
           <li class="nav_link_el" >
               <a class="nav_id" href="#"> Reseñas</a>
           </li>
           <li class="nav_link_el" >
               <a class="nav_id" href="#"> Blog</a>
           </li>
       </div>
       </ul>
       <ul class="nav_links_right" style="list-style: none;">
          <% if user_signed_in? %>
          <li  id="shopping_cart" class="nav_link_el" >
               <a class="nav_id" href="/invoices/new"> Carrito</a>
               <% @total_items = 0 %>
               <% session[:cart].each{|k,v| @total_items += v } if session[:cart] %>
               <%= @total_items %>
           </li>
          <li class="dropdown nav-item" id="navbarDropdown">
            <% avatar_url = current_user.facebook_picture_url || "avatar.svg" %>
            <%= image_tag avatar_url, class: "avatar"%>



            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <%= link_to "Editar Perfil", edit_user_registration_path, class: "dropdown-item" %>
              <%= link_to "Cerrar Sesión", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          </li>
          <% else %>
          <li class="nav_link_register">
              <%= link_to 'Registrate!', new_user_registration_path  %> <br>
          </li>
          <li class="nav_link_el" >
              <%= link_to 'Inicia Sesión', new_user_session_path  %>
          </li>
             <li class=" btn_action nav_link_el " >
                 <button class="button button_fill_primary" >Empezar</button>
             </li>
            <!--  que es esto -->
              <li  class=" btn_menu nav_link_el button" >
                 <h3 onclick="toggleSideBar()" class=" responsive_links sidebar_open_button" >Menu</h3>
              </li>
          <% end %>
       </ul>
</div>

















