<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-6  ">
      <h2>Please put in the information of your new order</h2>
      <%= simple_form_for @invoice do |f| %>
        <%= f.label :user_id   %>
        <%= f.text_field :user_id %> <br>
        <%= f.label :user_id   %>
        <%= f.number_field :user_id %> <br>
        <%= f.label :frequency %>
        <%= f.select :frequency, Invoice::FREQUENCY, prompt: "Choose your frequency!" %>

        <%= f.button :submit, class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>
