<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <h2> </h2>
<!--
      hacemos que este form sea hidden ? -->

    </div>
  </div>
</div>



<!-- en new vamos a tener una forma con simple for accion create

parsear las drugas que estan en session[:cart] -->


<div>
  <div class="steps" >
    <div class="steps" ></div>
  </div>
  <div class="cart_page">
  <!-- Cart -->
  <div class="cart_section">
    <div class="header" >
    <h1 class="title">Detalles de su orden:</h1>
      <%= simple_form_for @invoice do |f| %>
          <%= f.simple_fields_for :invoice_details do |i| %>
            <%= i.input :quantity, as: :hidden %>
            <%= i.input :subtotal, as: :hidden%>
            <%= i.input :drug_id, as: :hidden %>
            <%= i.input :total, as: :hidden %>
          <% end %>
          <!-- <%= f.input :frequency, collection: ['Semanal', 'Mensual', 'Trimestral'] %> -->
          <div class="footer">
          <!--   <%= f.submit "Pagar", class: 'next_button' %> -->

          </div>
      <% end %>
      <!-- <span class="" >Pagar</span> -->
    </div>
    <div class="line"></div>
    <div class="articles_section">
      <table style="width:100%">
     <%= simple_form_for @invoice do |f| %>
         <%= f.simple_fields_for :invoice_details do |i| %>
              <tr>
                <td>
                  <div class="cart_article">
                    <div class="cart_article_content">
                      <div class="cart_article_texts">
                        <div class="">
                          <img class="cart_article_img" src= <%= i.object.drug.image %>>
                        </div>
                        <div>
                          <h1 class="cart_article_title"><%= i.object.drug.drug_name %></h1>
                          <h4 class="cart_article_sub"><%= i.object.drug.drug_type %></h4>
                          <div class="cart_article_qty">
                            <div class="cart_article_qty_selector"><span class="minus">-</span> <span class="qty">1</span>
                              <span class="plus">+</span></div>
                          </div>
                        </div>
                      </div>
                      <div class="prices">
                        <h3 class="cart_article_price"> <%= i.object.quantity %> x $ <%= i.object.total/100 %> </h3>
                        <h4 class="cart_article_price_2">  $ <%= i.object.total/100 %></h4>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
          <% end %>
        <% end %>
      </table>
    </div>
  </div>

  <!-- side order prices -->
  <div class="price_section" id="checkout_side_card">
    <h1 class="title order_title">Orden</h1>
    <div class="line line_title"></div>
    <div class="estimed-delivery">
      <p class="label">Fecha</p>
      <h3 class="shiping_date"> Hoy es <%=  Date.current.strftime("%d/%m/%Y") %> </h3>
    </div>
    <div class="line"></div>
    <div class="checkout-prices">
      <input type="submit" form="new_invoice" class="button button_fill_primary" value="Pagar">
    </div>

    <div class="line"></div>
    <div class="checkout-total">
      <div class="group_1" >
      <p class="label">Total:</p>
      <h3> <%= humanized_money_with_symbol(@total /100) %> </h3>
      </div>
      <div>

      <img class="arrow_img" src="<%= asset_path 'right-arrow.svg' %>" >
      </div>
    </div>
  </div>
</div>
</div>
