

     <!--Alert-->
    <div class="text-center hero-offer alert alert-warning mb-0">
        Recibe 5% de descuento en tu primer pedido
    </div>
    <!--Hero Section-->
    <div class="hero-section" style="background-image: url(<%= asset_path 'Suscrimed-Backround.jpg' %>);">
      <div class="wrapper">
        <img class="small-logo" src="<%= asset_path 'suscrimed-logo-full' %>" alt="logo">
        <p >🇲🇽 La farmacia en línea #1 de México</p>
        <h1 class="hero-heading">Envió Gratis En Todo México</h1>
        <p class="normal">Ahorra tiempo y dinero, nosotros nos encargamos de tu salud</p>
        <p class="hero-text-start">Empieza hablando con nosotros en WhatsApp</p>
        <a class="button button_fill_primary" href="/drugs">Haz tu primer pedido</a>
         <p class="privacy-policy">Al proceder aceptas nuestros <a href="">Términos y condiciones </a> y <a href="">Aviso de privacidad</a></p>
      </div>

      <div class="star-rating-wrapper">
        <span class="star-rating__icons">⋆ ⋆ ⋆ ⋆ ⋆</span>
        <p class="star-rating-text">4.9 Estrellas en Google & Facebook</p>
      </div>
    </div>
    <!-- code a "Icons" section -->
      <div class="icon_section" >
          <ul class="icons" >
              <li class="icon" ><img class="user_icon" src="<%= asset_path 'user.svg' %>" > <span class="icon_text" > Recargas y renovaciones automáticas</span></li>
              <li class="icon" ><img class="user_icon" src="<%= asset_path 'user.svg' %>" > <span class="icon_text" > Olvídate de salir de nuevo a la farmacia</span></li>
              <li class="icon" ><img class="user_icon" src="<%= asset_path 'user.svg' %>" > <span class="icon_text" > Factura electrónica</span></li>
              <li class="icon" ><img class="user_icon" src="<%= asset_path 'user.svg' %>" > <span class="icon_text" > Empaque discreto </span></li>
          </ul>
      </div>

    <!-- code a "How it works" section -->
   <div class="card">
        <h2 class="card_header" >¿Cómo funciona Suscrimed?</h2>
        <div class="items" >
            <li class="item" ><img class="img" src="<%= asset_path 'whatsapp.svg' %>" >
                 <span class="item_header" > Ordena tus medicamentos</span>
                 <p class="item_text" >Encuentra tus medicamentos</p>
            </li>
            <li class="item" ><img class="img" src="<%= asset_path 'calendario_home.svg'   %>" >
                 <span class="item_header" > Agenda tus proximas entregas</span>
                 <p class="item_text" >Toma menos de 2 minutos</p>
            </li>
            <li class="item" ><img class="img" src="<%= asset_path 'enviogratis' %>" >
                 <span class="item_header" >Envio gratis</span>
                 <p class="item_text" >Recibe tus medicamentos sin costo adicional. Solo pagas por tus medicinas</p>
            </li>

        </div>
        <div class="text-center">
          <a class="btn btn-primary" style="text-align:center" href="/drugs" >Haz tu primer pedido</a>
        </div>

    </div>
    <%= render "components/logos"  %>
    <%= render "components/stats"  %>



     <!-- benefisios -->
    <div  >
        <div class="card_content" >
            <h1 class="card_title" >Nuestro servicio es gratuito. Solo pagas por tus medicamentos</h1>
            <a class=" button button_fill_default" href="/drugs">Haz tu primer pedido</a>
            <span class="card_text" ><strong>¿Prefieres hablar por teléfono?</strong><p class="sub_text" >Habla con nuestro equipo de atención hoy</p></span>
            <button class=" button button_outline_default" > 800-HOLA-SUS</button>
        </div>
      </div>




